In [85]:
import numpy as np
import pandas as pd
from datetime import datetime

In [156]:
def read_file():
    '''
    Reads the challenge data 'Sandesh' and preprocess it:
        
    Input: NA.
    Output: 
    
    '''
    
    data_df = pd.read_excel('data/ChallengeData-Sandesh.xlsx')
    
    #save the dates for indexing
    date_index = data_df.iloc[1,9:].dt.strftime('%Y/%m')
    
    #find the interested variables
    target_rows = [25, 26, 76, 77, 79, 80, 82, 83, 85, 86, 91, 92]
    
    data_df = data_df.iloc[[x-2 for x in target_rows], :]
    Target_Generic_LookupKeys = list(data_df.iloc[:,7])
    
    #dropping the descriptive rows and reset index and columns
    data_df = data_df.T.iloc[9:,:]
    data_df.set_index(date_index, inplace=True)
    data_df.columns = Target_Generic_LookupKeys
    
    
    return data_df

In [157]:
if __name__ == '__main__':
    print('Reading files')
    data_df = read_file()

Reading files

# Trial

In [158]:
data_df.head()

,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseRevenue - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitRevenue - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseAverage Revenue per existing customer Excl Line Rental - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitAverage Revenue per existing customer Excl Line Rental - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseLeavers - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitLeavers - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseClosing Base - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitClosing Base - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseGross Adds - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitGross Adds - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseNet Migrations - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitNet Migrations - Rabbit
1,,,,,,,,,,,,
2009/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
data_df.columns == Target_Generic_LookupKeys

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [145]:
dates

09/10       2009/04
09/10.1     2009/05
09/10.2     2009/06
09/10.3     2009/07
09/10.4     2009/08
             ...
18/19.7     2018/11
18/19.8     2018/12
18/19.9     2019/01
18/19.10    2019/02
18/19.11    2019/03
Name: 1, Length: 120, dtype: object

In [129]:
data_df.shape

(120, 12)

In [149]:
data_df.set_index(dates)

,23,24,74,75,77,78,80,81,83,84,89,90
1,,,,,,,,,,,,
2009/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2018/11,-0.687371,0.786199,-0.497357,-0.0981225,-0.893415,0.890226,-1.04312,1.05507,-1.01382,1.16661,-0.247453,0.184567
2018/12,-0.783835,0.887246,-0.639517,-0.0678832,-1.12833,0.851547,-1.10876,1.13154,-1.08599,1.26095,-0.167917,0.107213
2019/01,-0.991615,0.963323,-1.04245,-0.0942595,-1.01908,1.01579,-1.19188,1.2195,-0.909489,1.32601,-0.875476,0.869786
2019/02,-0.940494,1.0691,-0.833047,-0.0639525,-1.28772,0.845662,-1.27691,1.28949,-1.2389,0.553263,-0.778913,0.759508
2019/03,-0.912607,1.15453,-0.672418,-0.0511979,-1.20408,1.0497,-1.35606,1.35875,-1.17354,0.81348,-0.580923,0.521556

In [150]:
data_df.columns = Target_Generic_LookupKeys

In [151]:
data_df.head()

,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseRevenue - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitRevenue - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseAverage Revenue per existing customer Excl Line Rental - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitAverage Revenue per existing customer Excl Line Rental - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseLeavers - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitLeavers - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseClosing Base - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitClosing Base - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseGross Adds - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitGross Adds - Rabbit,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandTortoiseNet Migrations - Tortoise,Segment 1 - Sandesh Brand 2Sandesh Brand 2BroadbandRabbitNet Migrations - Rabbit
09/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09/10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09/10.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09/10.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09/10.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN